Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Upgrade to Yarn v3.3.0 (#3527)
  .husky/commit-msg
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarn/versions/5e1c0f76.yml
  .yarnrc.yml
  commitlint.config.js
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: support setting drop effect for drop targets.
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/docsite/markdown/examples/customize/drop-effects.md
  packages/examples/src/05-customize/drop-effects/Container.tsx
  packages/examples/src/05-customize/drop-effects/SourceBox.tsx
  packages/examples/src/05-customize/drop-effects/TargetBox.tsx
  packages/react-dnd/src/hooks/useDrop/useDrop.ts
  packages/react-dnd/src/hooks/useDrop/useDropTargetConnector.ts
  packages/react-dnd/src/internals/TargetConnector.ts
  packages/react-dnd/src/types/options.ts
Due: prettier --write, eslint --fix

fix: remove console.log
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

feat: tweak logic to find first target with a dropEffect.
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

style: remove whitespace.
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

fix: add commonjs files to the dist output
  .gitignore
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.json
  packages/dnd-core/package.json
  packages/dnd-core/tsconfig.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/util-asap/package.json
  packages/util-asap/tsconfig.json
  packages/util-invariant/package.json
  packages/util-invariant/tsconfig.json
  packages/util-shallowequal/package.json
  packages/util-shallowequal/tsconfig.json
  scripts/createDistPackageJson.mjs
Due: prettier --write

fix: remove version bumps, remove 'type': 'module'
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

semver
  .yarn/versions/cae7aaa6.yml
Due: none

remove add_pkgjson script
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  scripts/createDistPackageJson.mjs
Due: prettier --write

restore createDistPkg script
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  scripts/createDistPkgJson.mjs
Due: prettier --write

minor cleanups in createDistPkgJson
  scripts/createDistPkgJson.mjs
Due: none

run formatter
  scripts/createDistPkgJson.mjs
Due: none

add cjs tester
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
  package.json
Due: prettier --write

get tests running
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  scripts/createDistPkgJson.mjs
  scripts/esmify.mjs
Due: prettier --write

update version-check task
  .github/workflows/version-check.yml
Due: none

Add commonjs files to the dist output (#3526)
  .github/workflows/version-check.yml
  .gitignore
  .yarn/versions/cae7aaa6.yml
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
  package.json
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.json
  packages/dnd-core/package.json
  packages/dnd-core/tsconfig.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/util-asap/package.json
  packages/util-asap/tsconfig.json
  packages/util-invariant/package.json
  packages/util-invariant/tsconfig.json
  packages/util-shallowequal/package.json
  packages/util-shallowequal/tsconfig.json
  scripts/esmify.mjs
Due: prettier --write

upgrade to yarn 3.3.1
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

update core libraries
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write

use rome formatter
  .gitattributes
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  package.json
  packages/react-dnd/src/hooks/__tests__/useDrop.spec.tsx
  packages/react-dnd/src/hooks/useCollectedProps.ts
  packages/util-invariant/src/index.ts
  rome.json
  yarn.lock
Due: prettier --write, eslint --fix

semver
  .yarn/versions/e5f3b114.yml
Due: none

run rome fixes/formats
  packages/backend-html5/src/MonotonicInterpolant.ts
  packages/backend-html5/src/__tests__/HTML5Backend.spec.ts
  packages/backend-touch/src/OptionsReader.ts
  packages/backend-touch/src/TouchBackendImpl.ts
  packages/dnd-core/src/classes/DragDropMonitorImpl.ts
  packages/dnd-core/src/utils/coords.ts
  packages/dnd-core/src/utils/equality.ts
  packages/dnd-core/src/utils/js_utils.ts
  packages/docsite/gatsby-config.js
  packages/docsite/gatsby-node.js
  packages/docsite/src/components/header.tsx
  packages/docsite/src/components/layout.tsx
  packages/docsite/src/util/processImagesInMarkdownAst.ts
  packages/docsite/write_sample_boilerplate.mjs
  packages/examples/src/00-chessboard/Game.ts
  packages/examples/src/01-dustbin/multiple-targets/Container.tsx
  packages/examples/src/01-dustbin/single-target/Box.tsx
  packages/examples/src/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  packages/examples/src/01-dustbin/stress-test/Container.tsx
  packages/examples/src/02-drag-around/custom-drag-layer/CustomDragLayer.tsx
  packages/react-dnd/src/core/__tests__/DragPreviewImage.spec.tsx
  packages/react-dnd/src/hooks/__tests__/useDrop.spec.tsx
  packages/react-dnd/src/hooks/useDrag/useDrag.ts
  packages/react-dnd/src/internals/SourceConnector.ts
  packages/react-dnd/src/internals/TargetConnector.ts
  packages/react-dnd/src/internals/wrapConnectorHooks.ts
  packages/util-asap/src/RawTask.ts
  packages/util-shallowequal/src/__tests__/shallowEqual.spec.ts
  rome.json
  scripts/removeImportExtensions.mjs
Due: prettier --write, eslint --fix

add rome checks
  package.json
  packages/backend-html5/src/MonotonicInterpolant.ts
Due: prettier --write, eslint --fix

fix some yarn peerDeps
  .husky/.gitignore
  .husky/pre-commit
  .yarnrc.yml
  package.json
  packages/docsite/package.json
  packages/examples/package.json
  yarn.lock
Due: prettier --write

test update
  packages/backend-html5/src/OptionsReader.ts
  packages/backend-html5/src/__tests__/HTML5Backend.spec.ts
  packages/backend-html5/src/__tests__/OptionsReader.spec.ts
Due: prettier --write, eslint --fix

replace prettier with rome in docsite
  packages/docsite/package.json
  yarn.lock
Due: prettier --write

update lockfile
  packages/docsite/package.json
  yarn.lock
Due: prettier --write

disable some eslint rules, add turborepo
  .eslintrc
  package.json
  packages/examples/src/02-drag-around/custom-drag-layer/Container.tsx
  packages/util-invariant/src/index.ts
  scripts/walk.mjs
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

use turbo for build
  package.json
  packages/docsite/package.json
  turbo.json
Due: prettier --write

mark some tasks as internal
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  turbo.json
Due: prettier --write

add turbo-server to gh-action
  .github/workflows/ci.yml
Due: none

ignore tests with swcrc
  packages/backend-html5/.swcrc
  packages/backend-test/.swcrc
  packages/backend-touch/.swcrc
  packages/dnd-core/.swcrc
  packages/test-utils/.swcrc
  packages/util-asap/.swcrc
  packages/util-invariant/.swcrc
  packages/util-shallowequal/.swcrc
Due: none

update tests to run per-package
  .gitignore
  jest.config.js
  package.json
  packages/backend-html5/.swcrc
  packages/backend-html5/jest.config.js
  packages/backend-html5/package.json
  packages/backend-test/.swcrc
  packages/backend-touch/.swcrc
  packages/backend-touch/jest.config.js
  packages/backend-touch/package.json
  packages/dnd-core/.swcrc
  packages/dnd-core/jest.config.js
  packages/dnd-core/package.json
  packages/examples/jest.config.js
  packages/examples/package.json
  packages/examples/src/01-dustbin/multiple-targets/__tests__/multiple-target-integration.spec.tsx
  packages/examples/src/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  packages/jest-config/index.js
  packages/jest-config/package.json
  packages/jest-config/resolver.js
  packages/jest-config/setup-testing-library.js
  packages/react-dnd/jest.config.js
  packages/react-dnd/package.json
  packages/react-dnd/src/core/__tests__/DragPreviewImage.spec.tsx
  packages/react-dnd/src/hooks/__tests__/useDrag.spec.tsx
  packages/react-dnd/src/hooks/__tests__/useDrop.spec.tsx
  packages/react-dnd/src/hooks/useDrag/__tests__/DragSourceImpl.spec.ts
  packages/react-dnd/src/hooks/useDrop/__tests__/DropTargetImpl.spec.ts
  packages/react-dnd/src/internals/__tests__/DragSourceMonitorImpl.spec.ts
  packages/react-dnd/src/internals/__tests__/DropTargetMonitorImpl.spec.ts
  packages/react-dnd/src/internals/__tests__/SourceConnector.spec.tsx
  packages/react-dnd/src/internals/__tests__/TargetConnector.spec.tsx
  packages/test-utils/.swcrc
  packages/util-asap/.swcrc
  packages/util-invariant/.swcrc
  packages/util-shallowequal/.swcrc
  packages/util-shallowequal/jest.config.js
  packages/util-shallowequal/package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

remove eslint dep from dnd-core
  packages/dnd-core/package.json
  yarn.lock
Due: prettier --write

push linting down into packages; use common linting config
  .eslintignore
  .lintstagedrc.json
  package.json
  packages/backend-html5/.eslintrc.js
  packages/backend-html5/package.json
  packages/backend-test/.eslintrc.js
  packages/backend-test/package.json
  packages/backend-touch/.eslintrc.js
  packages/backend-touch/package.json
  packages/dnd-core/.eslintrc.js
  packages/dnd-core/package.json
  packages/docsite/.eslintignore
  packages/docsite/.eslintrc.js
  packages/docsite/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/examples/.eslintrc.json
  packages/examples/package.json
  packages/react-dnd/.eslintrc.js
  packages/react-dnd/package.json
  packages/test-suite-cra/.eslintrc.js
  packages/test-suite-cra/package.json
  packages/test-suite-next/.eslintrc.js
  packages/test-suite-next/package.json
  packages/test-suite-vite/.eslintrc.js
  packages/test-suite-vite/package.json
  packages/test-utils/.eslintrc.js
  packages/test-utils/package.json
  packages/util-asap/.eslintrc.js
  packages/util-asap/package.json
  packages/util-invariant/.eslintrc.js
  packages/util-invariant/package.json
  packages/util-shallowequal/.eslintrc.js
  packages/util-shallowequal/package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

add release script to each package
  .vscode/settings.json
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  turbo.json
Due: prettier --write

update vscode settings
  .vscode/settings.json
Due: prettier --write

update rome checks
  rome.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
