Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: cut semver
  .yarn/versions/dba13c30.yml
Due: none

fix: run prettier
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/examples/src/06-other/native-files/TargetBox.tsx
Due: prettier --write, eslint --fix

fix: use string type for setting html attribute
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

fix: always set the draggable attribute on connectDragSource
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

fix: update semver doc
  .yarn/versions/cc76e3dc.yml
Due: none

Fix missing file info when dragging native files (#3262)
  .yarn/versions/dba13c30.yml
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/examples/src/06-other/native-files/TargetBox.tsx
Due: prettier --write, eslint --fix

Fix/draggable only when can drag (#3187)
  .yarn/versions/cc76e3dc.yml
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

fix: console.log npe in TargetBox
  packages/examples/src/06-other/native-files/TargetBox.tsx
Due: prettier --write, eslint --fix

chore: cut semver
  .yarn/versions/57b90e7a.yml
Due: none

ci: add yarn cache step
  .github/workflows/ci.yml
Due: none

fix: console.log npe in TargetBox (#3361)
  .github/workflows/ci.yml
  .yarn/versions/57b90e7a.yml
  packages/examples/src/06-other/native-files/TargetBox.tsx
Due: prettier --write, eslint --fix

feat: add config option for not prevent-defaulting
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/backend-html5/src/OptionsReader.ts
  packages/backend-html5/src/types.ts
Due: prettier --write, eslint --fix

chore: cut release version
  .yarn/versions/384c56c3.yml
  .yarn/versions/57b90e7a.yml
  .yarn/versions/8bc8e1f8.yml
  .yarn/versions/cc76e3dc.yml
  .yarn/versions/dba13c30.yml
  .yarn/versions/e9a7807a.yml
  .yarn/versions/f6cebe98.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
Due: prettier --write

chore: cut release version (#3363)
  .yarn/versions/384c56c3.yml
  .yarn/versions/57b90e7a.yml
  .yarn/versions/8bc8e1f8.yml
  .yarn/versions/cc76e3dc.yml
  .yarn/versions/dba13c30.yml
  .yarn/versions/e9a7807a.yml
  .yarn/versions/f6cebe98.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
Due: prettier --write

feat: get dnd-core compiling with @tsconfig/strictest
  package.json
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/dnd-core/src/actions/dragDrop/beginDrag.ts
  packages/dnd-core/src/actions/dragDrop/hover.ts
  packages/dnd-core/src/actions/dragDrop/publishDragSource.ts
  packages/dnd-core/src/classes/DragDropMonitorImpl.ts
  packages/dnd-core/src/classes/HandlerRegistryImpl.ts
  packages/dnd-core/src/interfaces.ts
  packages/dnd-core/src/utils/equality.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: get react-dnd building with strictest mode
  packages/dnd-core/src/interfaces.ts
  packages/react-dnd/src/core/DndContext.ts
  packages/react-dnd/src/core/DndProvider.tsx
  packages/react-dnd/src/core/DragPreviewImage.tsx
  packages/react-dnd/src/hooks/types.ts
  packages/react-dnd/src/hooks/useCollectedProps.ts
  packages/react-dnd/src/hooks/useDrag/DragSourceImpl.ts
  packages/react-dnd/src/hooks/useDrag/connectors.ts
  packages/react-dnd/src/hooks/useDrag/useDrag.ts
  packages/react-dnd/src/hooks/useDrag/useDragSource.ts
  packages/react-dnd/src/hooks/useDrag/useDragSourceConnector.ts
  packages/react-dnd/src/hooks/useDrag/useDragSourceMonitor.ts
  packages/react-dnd/src/hooks/useDrag/useDragType.ts
  packages/react-dnd/src/hooks/useDrag/useRegisteredDragSource.ts
  packages/react-dnd/src/hooks/useDragDropManager.ts
  packages/react-dnd/src/hooks/useDragLayer.ts
  packages/react-dnd/src/hooks/useDrop/DropTargetImpl.ts
  packages/react-dnd/src/hooks/useDrop/connectors.ts
  packages/react-dnd/src/hooks/useDrop/useAccept.ts
  packages/react-dnd/src/hooks/useDrop/useDrop.ts
  packages/react-dnd/src/hooks/useDrop/useDropTarget.ts
  packages/react-dnd/src/hooks/useDrop/useDropTargetConnector.ts
  packages/react-dnd/src/hooks/useDrop/useDropTargetMonitor.ts
  packages/react-dnd/src/hooks/useDrop/useRegisteredDropTarget.ts
  packages/react-dnd/src/hooks/useMonitorOutput.ts
  packages/react-dnd/src/hooks/useOptionalFactory.ts
  packages/react-dnd/src/internals/DragSourceMonitorImpl.ts
  packages/react-dnd/src/internals/DropTargetMonitorImpl.ts
  packages/react-dnd/src/internals/SourceConnector.ts
  packages/react-dnd/src/internals/TargetConnector.ts
  packages/react-dnd/src/internals/registration.ts
  packages/react-dnd/src/types/connectors.ts
  packages/react-dnd/src/types/monitors.ts
Due: prettier --write, eslint --fix

feat: get html5-backend compiling with strictest mode
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/backend-html5/src/MonotonicInterpolant.ts
  packages/backend-html5/src/NativeDragSources/NativeDragSource.ts
  packages/backend-html5/src/NativeDragSources/index.ts
  packages/backend-html5/src/OffsetUtils.ts
  packages/backend-html5/src/OptionsReader.ts
  packages/backend-html5/src/index.ts
Due: prettier --write, eslint --fix

feat: get test-backend compiling with strictest mode
  packages/backend-test/src/TestBackend.ts
  packages/backend-test/src/index.ts
  packages/backend-test/src/types.ts
Due: prettier --write, eslint --fix

feat: get backend-touch compiling with strictest mode
  packages/backend-touch/src/OptionsReader.ts
  packages/backend-touch/src/TouchBackendImpl.ts
  packages/backend-touch/src/index.ts
  packages/backend-touch/src/interfaces.ts
  packages/backend-touch/src/utils/math.ts
  packages/backend-touch/src/utils/offsets.ts
Due: prettier --write, eslint --fix

feat: get test-utils compiling
  packages/test-utils/src/eventSimulation.ts
  packages/test-utils/src/wrappers.tsx
Due: prettier --write, eslint --fix

chore: cut semver
  .yarn/versions/2e853227.yml
Due: none

fix: ts issue
  packages/dnd-core/src/classes/DragDropMonitorImpl.ts
Due: prettier --write, eslint --fix

fix: add .js extensions to dnd-coer files
  package.json
  packages/dnd-core/src/actions/dragDrop/beginDrag.ts
  packages/dnd-core/src/actions/dragDrop/drop.ts
  packages/dnd-core/src/actions/dragDrop/endDrag.ts
  packages/dnd-core/src/actions/dragDrop/hover.ts
  packages/dnd-core/src/actions/dragDrop/index.ts
  packages/dnd-core/src/actions/dragDrop/local/setClientOffset.ts
  packages/dnd-core/src/actions/dragDrop/publishDragSource.ts
  packages/dnd-core/src/actions/registry.ts
  packages/dnd-core/src/classes/DragDropManagerImpl.ts
  packages/dnd-core/src/classes/DragDropMonitorImpl.ts
  packages/dnd-core/src/classes/HandlerRegistryImpl.ts
  packages/dnd-core/src/contracts.ts
  packages/dnd-core/src/createDragDropManager.ts
  packages/dnd-core/src/index.ts
  packages/dnd-core/src/reducers/dirtyHandlerIds.ts
  packages/dnd-core/src/reducers/dragOffset.ts
  packages/dnd-core/src/reducers/dragOperation.ts
  packages/dnd-core/src/reducers/index.ts
  packages/dnd-core/src/reducers/refCount.ts
  packages/dnd-core/src/utils/coords.ts
  packages/dnd-core/src/utils/dirtiness.ts
  packages/dnd-core/src/utils/equality.ts
  packages/dnd-core/src/utils/matchesType.ts
  test.mjs
  yarn.lock
Due: prettier --write, eslint --fix

fix: build cjs/esm across the project
  package.json
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.cjs.json
  packages/backend-html5/tsconfig.esm.json
  packages/backend-html5/tsconfig.json
  packages/backend-html5/tsconfig.types.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.cjs.json
  packages/backend-test/tsconfig.esm.json
  packages/backend-test/tsconfig.json
  packages/backend-test/tsconfig.types.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.cjs.json
  packages/backend-touch/tsconfig.esm.json
  packages/backend-touch/tsconfig.json
  packages/backend-touch/tsconfig.types.json
  packages/dnd-core/package.json
  packages/dnd-core/src/__tests__/DragDropMonitor.spec.ts
  packages/dnd-core/tsconfig.cjs.json
  packages/dnd-core/tsconfig.esm.json
  packages/dnd-core/tsconfig.json
  packages/dnd-core/tsconfig.types.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.cjs.json
  packages/react-dnd/tsconfig.esm.json
  packages/react-dnd/tsconfig.json
  packages/react-dnd/tsconfig.types.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.cjs.json
  packages/test-utils/tsconfig.esm.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.types.json
  test.mjs
Due: prettier --write, eslint --fix

build: use esm/cjs across workspace
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/dnd-core/src/__tests__/DragDropMonitor.spec.ts
  packages/dnd-core/src/actions/dragDrop/beginDrag.ts
  packages/dnd-core/src/actions/dragDrop/drop.ts
  packages/dnd-core/src/actions/dragDrop/endDrag.ts
  packages/dnd-core/src/actions/dragDrop/hover.ts
  packages/dnd-core/src/actions/dragDrop/index.ts
  packages/dnd-core/src/actions/dragDrop/local/setClientOffset.ts
  packages/dnd-core/src/actions/dragDrop/publishDragSource.ts
  packages/dnd-core/src/actions/registry.ts
  packages/dnd-core/src/classes/DragDropManagerImpl.ts
  packages/dnd-core/src/classes/DragDropMonitorImpl.ts
  packages/dnd-core/src/classes/HandlerRegistryImpl.ts
  packages/dnd-core/src/contracts.ts
  packages/dnd-core/src/createDragDropManager.ts
  packages/dnd-core/src/index.ts
  packages/dnd-core/src/reducers/dirtyHandlerIds.ts
  packages/dnd-core/src/reducers/dragOffset.ts
  packages/dnd-core/src/reducers/dragOperation.ts
  packages/dnd-core/src/reducers/index.ts
  packages/dnd-core/src/reducers/refCount.ts
  packages/dnd-core/src/utils/coords.ts
  packages/dnd-core/src/utils/dirtiness.ts
  packages/dnd-core/src/utils/equality.ts
  packages/dnd-core/src/utils/matchesType.ts
  packages/examples/package.json
  packages/examples/tsconfig.json
  packages/test-utils/package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: add module export tests to build
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
  package.json
  test.mjs
Due: prettier --write

chore: semver
  .yarn/versions/2e40de40.yml
Due: none

build: update formatting script to handle new extensions
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
  package.json
Due: prettier --write

Restore CommonJS Output (#3369)
  .yarn/versions/2e40de40.yml
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
  package.json
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.cjs.json
  packages/backend-html5/tsconfig.esm.json
  packages/backend-html5/tsconfig.json
  packages/backend-html5/tsconfig.types.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.cjs.json
  packages/backend-test/tsconfig.esm.json
  packages/backend-test/tsconfig.json
  packages/backend-test/tsconfig.types.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.cjs.json
  packages/backend-touch/tsconfig.esm.json
  packages/backend-touch/tsconfig.json
  packages/backend-touch/tsconfig.types.json
  packages/dnd-core/package.json
  packages/dnd-core/tsconfig.cjs.json
  packages/dnd-core/tsconfig.esm.json
  packages/dnd-core/tsconfig.json
  packages/dnd-core/tsconfig.types.json
  packages/examples/package.json
  packages/examples/tsconfig.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.cjs.json
  packages/react-dnd/tsconfig.esm.json
  packages/react-dnd/tsconfig.json
  packages/react-dnd/tsconfig.types.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.cjs.json
  packages/test-utils/tsconfig.esm.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.types.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
