Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json}": [
    "yarn format:"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "yarn format:"
  ]
}

enable turbo in ci
  .github/workflows/ci.yml
Due: none

add node 18 to test matrix
  .github/workflows/ci.yml
Due: none

set turbo-token env-var in CI
  .github/workflows/ci.yml
Due: none

minor doc update to test turbo
  README.md
Due: yarn format:

update turbo globs
  turbo.json
Due: yarn format:

readme update to test turbo
  README.md
Due: yarn format:

Initial commit, still need to work some changes and test building process and add unit tests.
  packages/examples/src/08-full-chessgame/App.jsx
  packages/examples/src/08-full-chessgame/assets/pieces.svg
  packages/examples/src/08-full-chessgame/components/Board.jsx
  packages/examples/src/08-full-chessgame/components/BoardSquare.jsx
  packages/examples/src/08-full-chessgame/constants.js
  packages/examples/src/08-full-chessgame/elements/Overlay.jsx
  packages/examples/src/08-full-chessgame/elements/Piece.jsx
  packages/examples/src/08-full-chessgame/elements/Square.jsx
  packages/examples/src/08-full-chessgame/game.js
  packages/examples/src/08-full-chessgame/index.ts
  packages/examples/src/index.ts
Due: yarn format:, eslint --fix

fix NODE_ENV interpolation in vite production build
  packages/util-invariant/src/index.ts
Due: yarn format:, eslint --fix

Working on converting js(x) to ts(x), error TS2532: Object is possibly 'undefined' is a really hard one to solve -.-
  packages/examples/src/08-full-chessgame/App.jsx
  packages/examples/src/08-full-chessgame/App.tsx
  packages/examples/src/08-full-chessgame/components/Board.tsx
  packages/examples/src/08-full-chessgame/components/BoardSquare.jsx
  packages/examples/src/08-full-chessgame/components/BoardSquare.tsx
  packages/examples/src/08-full-chessgame/elements/Overlay.jsx
  packages/examples/src/08-full-chessgame/elements/Overlay.tsx
  packages/examples/src/08-full-chessgame/elements/Piece.tsx
  packages/examples/src/08-full-chessgame/elements/Square.jsx
  packages/examples/src/08-full-chessgame/elements/Square.tsx
  packages/examples/src/08-full-chessgame/game.js
  packages/examples/src/08-full-chessgame/game.ts
  packages/examples/src/08-full-chessgame/index.ts
Due: yarn format:, eslint --fix

Adding comments to the code, created with ChatGPT :D obviosly I'd review them
  packages/examples/src/08-full-chessgame/game.ts
Due: yarn format:, eslint --fix

We did itrefactor into using objects since there was no luck with arrays... i still want to use arrays but this is a work around for now. We'll update the rest of the code.
  packages/examples/src/08-full-chessgame/App.tsx
  packages/examples/src/08-full-chessgame/elements/Piece.tsx
  packages/examples/src/08-full-chessgame/game.ts
Due: yarn format:, eslint --fix

Fixed issues related to _generateBoard, not working properly, ChatGPT did something odd there, so i went back to a previous version and did some upgrades.
  packages/examples/src/08-full-chessgame/App.tsx
  packages/examples/src/08-full-chessgame/game.ts
Due: yarn format:, eslint --fix

fix(TouchBackendImpl.teardown): remove same top move listener as added
  packages/backend-touch/src/TouchBackendImpl.ts
Due: yarn format:, eslint --fix

fix: don't lose drag source/preview if disconnected and immediately reconnected
  .yarn/versions/42579e0f.yml
  packages/react-dnd/src/internals/SourceConnector.ts
  packages/react-dnd/src/internals/__tests__/SourceConnector.spec.tsx
Due: yarn format:, eslint --fix

Widen HtmlContainer
  packages/docsite/src/components/doc.tsx
Due: yarn format:, eslint --fix

getItem can return null
  packages/react-dnd/src/types/monitors.ts
Due: yarn format:, eslint --fix

Update README.md
  README.md
Due: yarn format:

Improve navigation semantics
  packages/docsite/src/components/layout.tsx
  packages/docsite/src/components/navbar.tsx
  packages/docsite/src/components/sidebar.tsx
Due: yarn format:, eslint --fix

docs: fix indentations by using spaces instead of tabs
  packages/docsite/markdown/docs/03 Using Hooks/HooksOverview.md
Due: yarn format:

add info about useDragDropManager
  packages/docsite/markdown/docs/03 Using Hooks/useDragDropManager.md
Due: yarn format:

Add shadowRoot support and enhance code readability
  packages/backend-touch/src/OptionsReader.ts
  packages/backend-touch/src/TouchBackendImpl.ts
Due: yarn format:, eslint --fix

Better documentation for useDragDropManager
  packages/docsite/markdown/docs/03 Using Hooks/useDragDropManager.md
Due: yarn format:

fix: fix incorrect JSX syntax in Knight component example in documentation
  packages/docsite/markdown/docs/00 Quick Start/Tutorial.md
Due: yarn format:

Removing feature check for passive event listeners
  .yarn/versions/8deadcfd.yml
  packages/backend-touch/src/TouchBackendImpl.ts
  packages/backend-touch/src/utils/supportsPassive.ts
Due: yarn format:, eslint --fix

chore: upgrade Node.js version in CI workflows and update action versions to latest
  .github/workflows/ci.yml
  .github/workflows/docsite.yml
  .github/workflows/fix-dependabot.yml
  .github/workflows/version-check.yml
Due: none

chore: add cache-dependency-path for yarn version check in CI workflow
  .github/workflows/version-check.yml
Due: none

chore: remove cache configuration from version check workflow
  .github/workflows/version-check.yml
Due: none

chore: enable Corepack and configure Yarn settings in CI workflow
  .github/workflows/ci.yml
Due: none

chore: add yarn install step in CI workflow
  .github/workflows/ci.yml
Due: none

chore: restrict CI workflows to main branch for push and pull request events
  .github/workflows/ci.yml
  .github/workflows/version-check.yml
Due: none

chore: upgrade Node.js version in CI workflows and update action versions to latest (#3652)
  .github/workflows/ci.yml
  .github/workflows/docsite.yml
  .github/workflows/fix-dependabot.yml
  .github/workflows/version-check.yml
Due: none

chore: update GitHub Actions workflow for documentation deployment
  .github/workflows/docsite.yml
Due: none

chore: update turborepo and vite
  package.json
  packages/test-suite-vite/package.json
  packages/test-suite-vite/vite.config.js
  turbo.json
  yarn.lock
Due: yarn format:, eslint --fix

chore: remove unused dev script and update watch tasks in package.json files
  package.json
  packages/examples/package.json
  packages/test-suite-vite/.eslintrc.js
  turbo.json
  yarn.lock
Due: yarn format:, eslint --fix

chore: upgrade @tsconfig/strictest to version 2.0.5 and add watch scripts for react-dnd
  package.json
  packages/react-dnd/package.json
  tsconfig.base.json
  yarn.lock
Due: yarn format:

chore: update GitHub Actions workflow to use GITHUB_TOKEN for deployment
  .github/workflows/docsite.yml
Due: none

chore: update GitHub Actions workflow to use github_token instead of deploy_key
  .github/workflows/docsite.yml
Due: none

chore: remove temporary pull request trigger from documentation workflow
  .github/workflows/docsite.yml
Due: none
