Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"]
}

fix: pin devDeps to craTester, other known in-repo versions
  packages/docsite/write_sample_boilerplate.js
  packages/test-suite-cra/package.json
Due: prettier --write, eslint --fix

docs: post-process typescript examples in the docsite to remove import extensions
  packages/docsite/package.json
  packages/docsite/write_sample_boilerplate.mjs
  scripts/removeImportExtensions.mjs
Due: prettier --write

chore: run prettier
  packages/docsite/write_sample_boilerplate.mjs
  scripts/removeImportExtensions.mjs
Due: none

Post-process TypeScript examples to remove `.js` extensions from imports (#3439)
  packages/docsite/package.json
  packages/docsite/write_sample_boilerplate.mjs
  packages/test-suite-cra/package.json
  scripts/removeImportExtensions.mjs
Due: prettier --write

docs: add prop-types dependency to example boilerplate
  packages/docsite/write_sample_boilerplate.mjs
Due: none

fix: remove override from sortable stress test
  .yarn/versions/ab7e26bd.yml
  packages/examples/src/04-sortable/stress-test/Container.tsx
  packages/examples/tsconfig.json
Due: prettier --write, eslint --fix

Docsite update (#3440)
  .yarn/versions/ab7e26bd.yml
  packages/docsite/write_sample_boilerplate.mjs
  packages/examples/src/04-sortable/stress-test/Container.tsx
  packages/examples/tsconfig.json
Due: prettier --write, eslint --fix

docs: update sample boilerplate target
  packages/docsite/write_sample_boilerplate.mjs
Due: none

Update docsite examples' tsconfig settings (#3441)
  packages/docsite/write_sample_boilerplate.mjs
Due: none

docs: remove role: box from examples
  packages/examples/src/01-dustbin/multiple-targets/Box.tsx
  packages/examples/src/01-dustbin/single-target/Box.tsx
  packages/examples/src/02-drag-around/naive/Box.tsx
Due: prettier --write, eslint --fix

chore: semver
  .yarn/versions/8ec22765.yml
Due: none

Fix/example single target (#3442)
  .yarn/versions/8ec22765.yml
  packages/examples/src/01-dustbin/multiple-targets/Box.tsx
  packages/examples/src/01-dustbin/single-target/Box.tsx
  packages/examples/src/02-drag-around/naive/Box.tsx
Due: prettier --write, eslint --fix

remove dustbin role
  packages/examples/src/01-dustbin/single-target/Dustbin.tsx
Due: prettier --write, eslint --fix

fix: jest fixes
  packages/examples/src/01-dustbin/multiple-targets/Box.tsx
  packages/examples/src/01-dustbin/multiple-targets/Dustbin.tsx
  packages/examples/src/01-dustbin/multiple-targets/__tests__/multiple-target-integration.spec.tsx
  packages/examples/src/01-dustbin/single-target/Box.tsx
  packages/examples/src/01-dustbin/single-target/Dustbin.tsx
  packages/examples/src/01-dustbin/single-target/__tests__/Box.spec.tsx
  packages/examples/src/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  packages/examples/src/02-drag-around/naive/Box.tsx
  packages/examples/src/02-drag-around/naive/__tests__/drag-around-naive-integration.spec.tsx
Due: prettier --write, eslint --fix

add prose-mirror drop handling
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

chore: Set permissions for GitHub actions
  .github/workflows/ci.yml
  .github/workflows/fix-dependabot.yml
  .github/workflows/version-check.yml
Due: none

Fix typings for `monitor.getItem()`
  packages/react-dnd/src/types/monitors.ts
Due: prettier --write, eslint --fix

fix: support same element used multiple times as a drop target with TouchBackend
  .yarn/versions/a564dfd7.yml
  packages/backend-touch/src/TouchBackendImpl.ts
  packages/backend-touch/src/__tests__/TouchBackend.spec.ts
Due: prettier --write, eslint --fix

fix: allow dropping non-file native objects when there is no drop target
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

feat: allow configuring when to use the 'copy' dropEffect
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/backend-html5/src/OptionsReader.ts
  packages/backend-html5/src/types.ts
Due: prettier --write, eslint --fix

fix: use alt as default for copyKey
  packages/backend-html5/src/OptionsReader.ts
Due: prettier --write, eslint --fix

Update outdated LICENSE to present
  LICENSE
Due: none

Remove unnecessary optional chaining
  packages/backend-html5/src/OptionsReader.ts
Due: prettier --write, eslint --fix

Clarify error message.
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

docs: improve tutorial
  packages/docsite/markdown/docs/00 Quick Start/Tutorial.md
Due: prettier --write

fix: remove an unused argument
  packages/docsite/markdown/docs/docsRoot.md
Due: prettier --write

Update Container.tsx
  packages/examples/src/04-sortable/cancel-on-drop-outside/Container.tsx
Due: prettier --write, eslint --fix

Update DragSourceImpl.ts
  packages/react-dnd/src/hooks/useDrag/DragSourceImpl.ts
Due: prettier --write, eslint --fix

build: update yarn to 3.3.0
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
Due: none

chore: library updates
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write

chore: semver
  .yarn/versions/5e1c0f76.yml
Due: none

chore: update preinstall script
  package.json
Due: prettier --write

chore: update yarn sdks
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  package.json
Due: prettier --write, eslint --fix
