Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"]
}

chore: mark scoped packages as public
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

Mark util packages as public (#3386)
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

Automated deployment: Mon Feb 7 22:30:39 UTC 2022 9ea462e36df627501482130934d30c495f3dce1d
  examples_js/03-nesting/drag-sources/package.json
  examples_js/03-nesting/drop-targets/package.json
  examples_js/04-sortable/cancel-on-drop-outside/package.json
  examples_js/04-sortable/simple/package.json
  examples_js/04-sortable/stress-test/package.json
  page-data/about/page-data.json
  page-data/docs/api/dnd-provider/page-data.json
  page-data/docs/api/drag-layer-monitor/page-data.json
  page-data/docs/api/drag-preview-image/page-data.json
  page-data/docs/api/drag-source-monitor/page-data.json
  page-data/docs/api/drop-target-monitor/page-data.json
  page-data/docs/api/hooks-overview/page-data.json
  page-data/docs/api/use-drag-drop-manager/page-data.json
  page-data/docs/api/use-drag-layer/page-data.json
  page-data/docs/api/use-drag/page-data.json
  page-data/docs/api/use-drop/page-data.json
  page-data/docs/backends/html5/page-data.json
  page-data/docs/backends/test/page-data.json
  page-data/docs/backends/touch/page-data.json
  page-data/docs/faq/page-data.json
  page-data/docs/overview/page-data.json
  page-data/docs/testing/page-data.json
  page-data/docs/troubleshooting/page-data.json
  page-data/docs/tutorial/page-data.json
Due: prettier --write

chore: use legacy pkg structure in package.json
  packages/examples/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

chore: semver
  .yarn/versions/0acc6e0a.yml
Due: none

fix: skip next build
  packages/test-suite-next/package.json
Due: prettier --write

test: remove examples from module tests
  module_test/api.json
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
Due: prettier --write

initial commit
  examples_ts/01-dustbin/single-target-in-iframe/package.json
Due: prettier --write

fix: "Invariant Violation: Expected targetIds to be registered."
  CONTRIBUTING.md
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

chore: semver
  .github/workflows/ci.yml
  .github/workflows/version-check.yml
  .yarn/versions/e42d7e63.yml
Due: none

fix: cancel any raf before creating a new one
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

fix: "Invariant Violation: Expected targetIds to be registered." (#3409)
  .github/workflows/ci.yml
  .github/workflows/version-check.yml
  .yarn/versions/e42d7e63.yml
  CONTRIBUTING.md
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

chore: upgrade to yarn 3.2.0
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: semver
  .yarn/versions/40a81c39.yml
Due: none

fix: lint issue
  packages/examples/src/04-sortable/stress-test/Card.tsx
Due: prettier --write, eslint --fix

fix: import
  packages/examples/src/04-sortable/stress-test/Card.tsx
Due: prettier --write, eslint --fix

fix: remove type annotation
  packages/examples/src/04-sortable/stress-test/Card.tsx
Due: prettier --write, eslint --fix

chore: remove hover cancel
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

chore: upgrade to yarn 3.2.0 (#3411)
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  .yarn/versions/40a81c39.yml
  .yarnrc.yml
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/examples/src/04-sortable/stress-test/Card.tsx
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: remove hover cancel (#3412)
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

fix: conditionally render example code in Next depending on SSR context
  packages/test-suite-next/package.json
  packages/test-suite-next/pages/index.js
Due: prettier --write, eslint --fix

fix: conditionally render example code in Next depending on SSR context (#3414)
  packages/test-suite-next/package.json
  packages/test-suite-next/pages/index.js
Due: prettier --write, eslint --fix

ci: remove node 14
  .github/workflows/ci.yml
Due: none

ci: remove node 14 (#3415)
  .github/workflows/ci.yml
Due: none

chore: version cut
  .yarn/versions/0acc6e0a.yml
  .yarn/versions/40a81c39.yml
  .yarn/versions/e42d7e63.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

chore: move to esm-only publication
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  scripts/esmify.mjs
  scripts/unjsxify.mjs
  scripts/walk.mjs
  yarn.lock
Due: prettier --write

chore: some pkg updates
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write

chore: semver
  .yarn/versions/122d1557.yml
Due: none

chore: rewire tsconfigs; use workspace:^ links
  package.json
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.json
  packages/dnd-core/package.json
  packages/dnd-core/tsconfig.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/examples/tsconfig.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/util-asap/tsconfig.json
  packages/util-invariant/tsconfig.json
  packages/util-shallowequal/tsconfig.json
  yarn.lock
Due: prettier --write
