Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test: extend jest resolver
  jest.config.js
  jest/resolver.js
  package.json
  packages/examples/src/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  yarn.lock
Due: prettier --write, eslint --fix

test: update coverage config
  jest.config.js
Due: prettier --write, eslint --fix

build: add shortcuts for starting cra/vite
  packages/test-suite-cra/package.json
  packages/test-suite-vite/package.json
Due: prettier --write

chore: version bump
  .yarn/versions/64165587.yml
  .yarn/versions/dcc1933f.yml
  .yarn/versions/fdad3aec.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
Due: prettier --write

Release/v15 1 0 (#3377)
  .yarn/versions/64165587.yml
  .yarn/versions/dcc1933f.yml
  .yarn/versions/fdad3aec.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
Due: prettier --write

fix: revert a recent PR that made the draggable attribute conditional
  packages/backend-html5/src/HTML5BackendImpl.ts
Due: prettier --write, eslint --fix

chore: cut semver
  .yarn/versions/196dbc06.yml
Due: none

docs: add a step to remove .jsx extension from example code
  packages/examples/package.json
  scripts/unjsxify.mjs
Due: prettier --write

chore: update semver
  .yarn/versions/196dbc06.yml
Due: none

fix: revert a recent PR that made the draggable attribute conditional (#3379)
  .yarn/versions/196dbc06.yml
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/examples/package.json
  scripts/unjsxify.mjs
Due: prettier --write, eslint --fix

chore: bump versions
  .yarn/versions/196dbc06.yml
  packages/backend-html5/package.json
  packages/examples/package.json
Due: prettier --write

chore: bump versions (#3380)
  .yarn/versions/196dbc06.yml
  packages/backend-html5/package.json
  packages/examples/package.json
Due: prettier --write

chore: run formatter over unjsxify
  scripts/unjsxify.mjs
Due: none

fix: disable the forbidden-non-null assertion rule in tests that use them
  packages/backend-html5/src/__tests__/OffsetUtils.spec.ts
  packages/examples/src/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  packages/examples/src/03-nesting/drag-sources/__tests__/dragSources.spec.tsx
Due: prettier --write, eslint --fix

fix: use a non-null assertion
  packages/examples/src/03-nesting/drag-sources/__tests__/dragSources.spec.tsx
Due: prettier --write, eslint --fix

Fix some formatting (#3381)
  packages/backend-html5/src/__tests__/OffsetUtils.spec.ts
  packages/examples/src/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  packages/examples/src/03-nesting/drag-sources/__tests__/dragSources.spec.tsx
  scripts/unjsxify.mjs
Due: prettier --write, eslint --fix

Automated deployment: Sun Feb 6 17:11:25 UTC 2022 89806d78b2ddb3f20aa3b727f0af42825deea1fb
  examples_ts/01-dustbin/single-target/__tests__/single-target-integration.spec.tsx
  examples_ts/03-nesting/drag-sources/__tests__/dragSources.spec.tsx
Due: prettier --write, eslint --fix

refactor: use a common directory-walking utility
  scripts/esmify.mjs
  scripts/unjsxify.mjs
  scripts/walk.mjs
Due: none

refactor: use a common directory-walking utility (#3382)
  scripts/esmify.mjs
  scripts/unjsxify.mjs
  scripts/walk.mjs
Due: none

Automated deployment: Mon Feb 7 00:58:16 UTC 2022 bc4204eb19fa9c3c4e0c9b9d081b8d5c2a0dc8a9
  examples_js/03-nesting/drag-sources/package.json
  examples_js/03-nesting/drop-targets/package.json
  examples_js/04-sortable/cancel-on-drop-outside/package.json
  examples_js/04-sortable/simple/package.json
  examples_js/04-sortable/stress-test/package.json
  examples_ts/01-dustbin/copy-or-move/package.json
  examples_ts/01-dustbin/single-target-in-iframe/package.json
  page-data/about/page-data.json
  page-data/docs/api/dnd-provider/page-data.json
  page-data/docs/api/drag-layer-monitor/page-data.json
  page-data/docs/api/drag-preview-image/page-data.json
  page-data/docs/api/drag-source-monitor/page-data.json
  page-data/docs/api/drop-target-monitor/page-data.json
  page-data/docs/api/hooks-overview/page-data.json
  page-data/docs/api/use-drag-drop-manager/page-data.json
  page-data/docs/api/use-drag-layer/page-data.json
  page-data/docs/api/use-drag/page-data.json
  page-data/docs/api/use-drop/page-data.json
  page-data/docs/backends/html5/page-data.json
  page-data/docs/backends/test/page-data.json
  page-data/docs/backends/touch/page-data.json
  page-data/docs/faq/page-data.json
  page-data/docs/overview/page-data.json
  page-data/docs/testing/page-data.json
  page-data/docs/troubleshooting/page-data.json
  page-data/docs/tutorial/page-data.json
Due: prettier --write

test: add Next.JS tester app
  packages/test-suite-next/.gitignore
  packages/test-suite-next/README.md
  packages/test-suite-next/next.config.js
  packages/test-suite-next/package.json
  packages/test-suite-next/pages/_app.js
  packages/test-suite-next/pages/api/hello.js
  packages/test-suite-next/pages/index.js
  packages/test-suite-next/public/favicon.ico
  packages/test-suite-next/public/vercel.svg
  packages/test-suite-next/styles/Home.module.css
  packages/test-suite-next/styles/globals.css
  yarn.lock
Due: prettier --write, eslint --fix

chore: add .next to eslintignore, prettierignore
  .eslintignore
  .prettierignore
Due: none

build: update changesetIgnorePatterns
  .yarnrc.yml
Due: none

chore: move @react-dnd/invariant to this monorepo
  packages/backend-touch/package.json
  packages/react-dnd/package.json
  packages/util-invariant/package.json
  packages/util-invariant/src/index.ts
  packages/util-invariant/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: inline the shallowEqual utility in react-dnd
  packages/react-dnd/package.json
  packages/react-dnd/src/internals/SourceConnector.ts
  packages/react-dnd/src/internals/TargetConnector.ts
  packages/react-dnd/src/internals/__tests__/shallowEqual.spec.ts
  packages/react-dnd/src/internals/shallowEqual.ts
  packages/util-invariant/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: add util-asap to monorepo
  packages/util-asap/.gitignore
  packages/util-asap/.npmignore
  packages/util-asap/.swcrc
  packages/util-asap/CHANGES.md
  packages/util-asap/CONTRIBUTING.md
  packages/util-asap/LICENSE.md
  packages/util-asap/README.md
  packages/util-asap/package.json
  packages/util-asap/src/__test__/asap.spec.ts
  packages/util-asap/src/__test__/domain.ts
  packages/util-asap/src/browser/asap.ts
  packages/util-asap/src/browser/index.ts
  packages/util-asap/src/browser/raw.ts
  packages/util-asap/src/index.ts
  packages/util-asap/src/node/asap.ts
  packages/util-asap/src/node/index.ts
  packages/util-asap/src/node/raw.ts
  packages/util-asap/src/types.ts
  packages/util-asap/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: build updates
  .alexrc
  packages/react-dnd/package.json
  packages/react-dnd/src/internals/SourceConnector.ts
  packages/react-dnd/src/internals/TargetConnector.ts
  packages/react-dnd/src/internals/__tests__/shallowEqual.spec.ts
  packages/util-asap/CONTRIBUTING.md
  packages/util-asap/README.md
  packages/util-asap/src/__tests__/asap.spec.ts
  packages/util-asap/src/__tests__/domain.ts
  packages/util-invariant/.swcrc
  packages/util-shallowequal/.swcrc
  packages/util-shallowequal/package.json
  packages/util-shallowequal/src/__tests__/shallowEqual.spec.ts
  packages/util-shallowequal/src/index.ts
  packages/util-shallowequal/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: cut semver
  .yarn/versions/73e9343f.yml
Due: none

chore: update semver
  .yarn/versions/73e9343f.yml
Due: none

refactor: remove node asap implementation
  packages/test-suite-next/package.json
  packages/util-asap/package.json
  packages/util-asap/src/__tests__/asap.spec.ts
  packages/util-asap/src/__tests__/domain.ts
  packages/util-asap/src/asap.ts
  packages/util-asap/src/browser/index.ts
  packages/util-asap/src/index.ts
  packages/util-asap/src/node/asap.ts
  packages/util-asap/src/node/index.ts
  packages/util-asap/src/node/raw.ts
  packages/util-asap/src/raw.ts
  packages/util-invariant/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: clean up asap; fix a regression example
  packages/dnd-core/package.json
  packages/examples/src/07-regression/remount-with-correct-props/SourceBox.tsx
  packages/util-asap/src/AsapQueue.ts
  packages/util-asap/src/RawTask.ts
  packages/util-asap/src/TaskFactory.ts
  packages/util-asap/src/asap.ts
  packages/util-asap/src/index.ts
  packages/util-asap/src/makeRequestCall.ts
  packages/util-asap/src/raw.ts
  packages/util-asap/src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: version bump
  .yarn/versions/73e9343f.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

chore: version bump (#3385)
  .yarn/versions/73e9343f.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
