Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: lodash import
  packages/examples/src/01-dustbin/stress-test/Container.tsx
Due: prettier --write, eslint --fix

build: remove alex
  .alexignore
  .alexrc
  package.json
  packages/docsite/markdown/docs/03 Using Hooks/useDrop.md
  packages/docsite/package.json
  packages/docsite/src/util/renderHtmlAst.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: update gatsby
  package.json
  packages/docsite/package.json
  packages/examples/package.json
  yarn.lock
Due: prettier --write

fix: get esm-check working
  module_test/cjs-imports.cjs
  package.json
  packages/test-utils/src/eventSimulation.ts
Due: prettier --write, eslint --fix

build: update linter targets
  module_test/mjs-imports.mjs
  package.json
Due: prettier --write

chore: version bump
  .yarn/versions/122d1557.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

chore: update prism
  packages/docsite/package.json
  yarn.lock
Due: prettier --write

fix: separate render from logical update cycle in sortable stress test
  packages/examples/src/04-sortable/stress-test/Container.tsx
Due: prettier --write, eslint --fix

v16 Release (#3421)
  .yarn/versions/122d1557.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/examples/src/04-sortable/stress-test/Container.tsx
  packages/react-dnd/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix single-target-in-iframe/src/Example.js
  examples_js/01-dustbin/single-target-in-iframe/src/example.js
Due: prettier --write, eslint --fix

docs: restore unjsxify script
  packages/examples/package.json
  scripts/unjsxify.mjs
  scripts/walk.mjs
Due: prettier --write

chore: semver
  .yarn/versions/36aeeab9.yml
Due: none

docs: restore unjsxify script (#3427)
  .yarn/versions/36aeeab9.yml
  packages/examples/package.json
  scripts/unjsxify.mjs
  scripts/walk.mjs
Due: prettier --write

move invariant check
  packages/dnd-core/src/actions/dragDrop/hover.ts
Due: prettier --write, eslint --fix

chore: upgrade libraries
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write

chore: pin @types/react
  package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-cra/src/App.tsx
  packages/test-suite-next/package.json
  packages/test-suite-vite/src/App.tsx
  packages/test-utils/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: semver
  .yarn/versions/6a52251c.yml
Due: none

chore: semver
  .yarn/versions/8865389a.yml
Due: none

fix: wrappers.tsx issue
  packages/test-utils/src/wrappers.tsx
Due: prettier --write, eslint --fix

fix: ts issue
  packages/examples/src/06-other/native-files/Container.tsx
Due: prettier --write, eslint --fix

Library Refresh (#3435)
  .yarn/versions/6a52251c.yml
  package.json
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/examples/src/06-other/native-files/Container.tsx
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-cra/src/App.tsx
  packages/test-suite-next/package.json
  packages/test-suite-vite/package.json
  packages/test-suite-vite/src/App.tsx
  packages/test-utils/package.json
  packages/test-utils/src/wrappers.tsx
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: disable test, update pnp SDKs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  packages/dnd-core/src/__tests__/DragDropManager.spec.ts
Due: prettier --write, eslint --fix

Fix for "Invariant Violation: Expected targetIds to be registered." (#3432)
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/versions/8865389a.yml
  packages/dnd-core/src/__tests__/DragDropManager.spec.ts
  packages/dnd-core/src/actions/dragDrop/hover.ts
Due: prettier --write, eslint --fix

chore: version bump
  .yarn/versions/36aeeab9.yml
  .yarn/versions/6a52251c.yml
  .yarn/versions/8865389a.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-suite-cra/package.json
  packages/test-suite-vite/package.json
  packages/test-utils/package.json
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

fix: add/update npmignore files for util packages
  packages/util-invariant/.npmignore
  packages/util-shallowequal/.npmignore
Due: none

chore: semver
  .yarn/versions/51481d6c.yml
Due: none

Fix/npmignores (#3436)
  .yarn/versions/51481d6c.yml
  packages/util-invariant/.npmignore
  packages/util-shallowequal/.npmignore
Due: none

chore: version bump
  .yarn/versions/51481d6c.yml
  packages/util-asap/package.json
  packages/util-invariant/package.json
  packages/util-shallowequal/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
