Repository react-dnd/react-dnd: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"]
}

chore: apply semver
  .yarn/versions/2e40de40.yml
  .yarn/versions/2e853227.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
Due: prettier --write

chore: apply semver (#3370)
  .yarn/versions/2e40de40.yml
  .yarn/versions/2e853227.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
Due: prettier --write

build: use swc for generating output
  module_test/mjs-imports.mjs
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.cjs.json
  packages/backend-html5/tsconfig.esm.json
  packages/backend-html5/tsconfig.json
  packages/backend-html5/tsconfig.types.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.cjs.json
  packages/backend-test/tsconfig.esm.json
  packages/backend-test/tsconfig.json
  packages/backend-test/tsconfig.types.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.cjs.json
  packages/backend-touch/tsconfig.esm.json
  packages/backend-touch/tsconfig.json
  packages/backend-touch/tsconfig.types.json
  packages/dnd-core/.swcrc
  packages/dnd-core/package.json
  packages/dnd-core/tsconfig.cjs.json
  packages/dnd-core/tsconfig.esm.json
  packages/dnd-core/tsconfig.json
  packages/dnd-core/tsconfig.types.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.cjs.json
  packages/react-dnd/tsconfig.esm.json
  packages/react-dnd/tsconfig.json
  packages/react-dnd/tsconfig.types.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.cjs.json
  packages/test-utils/tsconfig.esm.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.types.json
  yarn.lock
Due: prettier --write

chore: semver
  .yarn/versions/adc03e1c.yml
Due: none

build: update .prettierignore
  .prettierignore
Due: none

Use SWC for generating build outputs (#3371)
  .prettierignore
  .yarn/versions/adc03e1c.yml
  module_test/mjs-imports.mjs
  packages/backend-html5/package.json
  packages/backend-html5/tsconfig.cjs.json
  packages/backend-html5/tsconfig.esm.json
  packages/backend-html5/tsconfig.json
  packages/backend-html5/tsconfig.types.json
  packages/backend-test/package.json
  packages/backend-test/tsconfig.cjs.json
  packages/backend-test/tsconfig.esm.json
  packages/backend-test/tsconfig.json
  packages/backend-test/tsconfig.types.json
  packages/backend-touch/package.json
  packages/backend-touch/tsconfig.cjs.json
  packages/backend-touch/tsconfig.esm.json
  packages/backend-touch/tsconfig.json
  packages/backend-touch/tsconfig.types.json
  packages/dnd-core/.swcrc
  packages/dnd-core/package.json
  packages/dnd-core/tsconfig.cjs.json
  packages/dnd-core/tsconfig.esm.json
  packages/dnd-core/tsconfig.json
  packages/dnd-core/tsconfig.types.json
  packages/react-dnd/package.json
  packages/react-dnd/tsconfig.cjs.json
  packages/react-dnd/tsconfig.esm.json
  packages/react-dnd/tsconfig.json
  packages/react-dnd/tsconfig.types.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.cjs.json
  packages/test-utils/tsconfig.esm.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.types.json
  yarn.lock
Due: prettier --write

chore: version cut
  .yarn/versions/adc03e1c.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
Due: prettier --write

chore: version cut (#3372)
  .yarn/versions/adc03e1c.yml
  packages/backend-html5/package.json
  packages/backend-test/package.json
  packages/backend-touch/package.json
  packages/dnd-core/package.json
  packages/docsite/package.json
  packages/examples/package.json
  packages/react-dnd/package.json
  packages/test-utils/package.json
Due: prettier --write

feat: add cra-based test app
  .yarnrc.yml
  packages/examples/package.json
  packages/examples/tsconfig.json
  packages/test-suite-cra/.gitignore
  packages/test-suite-cra/README.md
  packages/test-suite-cra/package.json
  packages/test-suite-cra/public/favicon.ico
  packages/test-suite-cra/public/index.html
  packages/test-suite-cra/public/logo192.png
  packages/test-suite-cra/public/logo512.png
  packages/test-suite-cra/public/manifest.json
  packages/test-suite-cra/public/robots.txt
  packages/test-suite-cra/src/App.css
  packages/test-suite-cra/src/App.tsx
  packages/test-suite-cra/src/index.css
  packages/test-suite-cra/src/index.tsx
  packages/test-suite-cra/src/logo.svg
  packages/test-suite-cra/src/react-app-env.d.ts
  packages/test-suite-cra/src/reportWebVitals.ts
  packages/test-suite-cra/src/setupTests.ts
  packages/test-suite-cra/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update yarn lock
  yarn.lock
Due: none

feat: update dnd-core's esm wiring
  module_test/mjs-imports.mjs
  packages/dnd-core/package.json
  packages/dnd-core/src/actions/dragDrop/beginDrag.ts
  packages/dnd-core/src/actions/dragDrop/drop.ts
  packages/dnd-core/src/actions/dragDrop/endDrag.ts
  packages/dnd-core/src/actions/dragDrop/hover.ts
  packages/dnd-core/src/actions/dragDrop/index.ts
  packages/dnd-core/src/actions/dragDrop/local/setClientOffset.ts
  packages/dnd-core/src/actions/dragDrop/publishDragSource.ts
  packages/dnd-core/src/actions/registry.ts
  packages/dnd-core/src/classes/DragDropManagerImpl.ts
  packages/dnd-core/src/classes/DragDropMonitorImpl.ts
  packages/dnd-core/src/classes/HandlerRegistryImpl.ts
  packages/dnd-core/src/contracts.ts
  packages/dnd-core/src/createDragDropManager.ts
  packages/dnd-core/src/index.ts
  packages/dnd-core/src/reducers/dirtyHandlerIds.ts
  packages/dnd-core/src/reducers/dragOffset.ts
  packages/dnd-core/src/reducers/dragOperation.ts
  packages/dnd-core/src/reducers/index.ts
  packages/dnd-core/src/reducers/refCount.ts
  packages/dnd-core/src/utils/coords.ts
  packages/dnd-core/src/utils/dirtiness.ts
  packages/dnd-core/src/utils/equality.ts
  packages/dnd-core/src/utils/matchesType.ts
  scripts/esmify.mjs
Due: prettier --write, eslint --fix

feat: react-dnd esm
  packages/react-dnd/package.json
  packages/react-dnd/src/core/DndProvider.ts
  packages/react-dnd/src/core/DragPreviewImage.ts
  packages/react-dnd/src/core/index.ts
  packages/react-dnd/src/hooks/index.ts
  packages/react-dnd/src/hooks/types.ts
  packages/react-dnd/src/hooks/useCollectedProps.ts
  packages/react-dnd/src/hooks/useCollector.ts
  packages/react-dnd/src/hooks/useDrag/DragSourceImpl.ts
  packages/react-dnd/src/hooks/useDrag/connectors.ts
  packages/react-dnd/src/hooks/useDrag/index.ts
  packages/react-dnd/src/hooks/useDrag/useDrag.ts
  packages/react-dnd/src/hooks/useDrag/useDragSource.ts
  packages/react-dnd/src/hooks/useDrag/useDragSourceConnector.ts
  packages/react-dnd/src/hooks/useDrag/useDragSourceMonitor.ts
  packages/react-dnd/src/hooks/useDrag/useDragType.ts
  packages/react-dnd/src/hooks/useDrag/useRegisteredDragSource.ts
  packages/react-dnd/src/hooks/useDragDropManager.ts
  packages/react-dnd/src/hooks/useDragLayer.ts
  packages/react-dnd/src/hooks/useDrop/DropTargetImpl.ts
  packages/react-dnd/src/hooks/useDrop/connectors.ts
  packages/react-dnd/src/hooks/useDrop/index.ts
  packages/react-dnd/src/hooks/useDrop/useAccept.ts
  packages/react-dnd/src/hooks/useDrop/useDrop.ts
  packages/react-dnd/src/hooks/useDrop/useDropTarget.ts
  packages/react-dnd/src/hooks/useDrop/useDropTargetConnector.ts
  packages/react-dnd/src/hooks/useDrop/useDropTargetMonitor.ts
  packages/react-dnd/src/hooks/useDrop/useRegisteredDropTarget.ts
  packages/react-dnd/src/hooks/useMonitorOutput.ts
  packages/react-dnd/src/hooks/useOptionalFactory.ts
  packages/react-dnd/src/index.ts
  packages/react-dnd/src/internals/DragSourceMonitorImpl.ts
  packages/react-dnd/src/internals/DropTargetMonitorImpl.ts
  packages/react-dnd/src/internals/SourceConnector.ts
  packages/react-dnd/src/internals/TargetConnector.ts
  packages/react-dnd/src/internals/index.ts
  packages/react-dnd/src/types/index.ts
Due: prettier --write, eslint --fix

feat: html5-backend esm
  packages/backend-html5/package.json
  packages/backend-html5/src/BrowserDetector.ts
  packages/backend-html5/src/EnterLeaveCounter.ts
  packages/backend-html5/src/HTML5BackendImpl.ts
  packages/backend-html5/src/NativeDragSources/NativeDragSource.ts
  packages/backend-html5/src/NativeDragSources/index.ts
  packages/backend-html5/src/NativeDragSources/nativeTypesConfig.ts
  packages/backend-html5/src/OffsetUtils.ts
  packages/backend-html5/src/OptionsReader.ts
  packages/backend-html5/src/index.ts
  packages/backend-html5/src/matchesType.ts
Due: prettier --write, eslint --fix

feat: esm backend-test
  packages/backend-test/package.json
  packages/backend-test/src/TestBackend.ts
  packages/backend-test/src/index.ts
Due: prettier --write, eslint --fix

feat: esm backend-touch
  packages/backend-touch/package.json
  packages/backend-touch/src/OptionsReader.ts
  packages/backend-touch/src/TouchBackendImpl.ts
  packages/backend-touch/src/index.ts
  packages/backend-touch/src/utils/math.ts
  packages/backend-touch/src/utils/offsets.ts
Due: prettier --write, eslint --fix

chore: semver
  .yarn/versions/64165587.yml
Due: none

fix: formatting
  scripts/esmify.mjs
Due: none

fix: get jest tests running with ts import changes
  jest.config.js
  package.json
  packages/backend-html5/package.json
  packages/backend-html5/src/__tests__/HTML5Backend.spec.ts
  packages/backend-html5/src/__tests__/index.spec.ts
  packages/react-dnd/src/hooks/__tests__/useDragLayer.spec.tsx
  yarn.lock
Due: prettier --write, eslint --fix

test: work on tests
  jest.config.js
  packages/backend-html5/src/__tests__/HTML5Backend.spec.ts
  packages/backend-html5/src/__tests__/OffsetUtils.spec.ts
  packages/backend-html5/tsconfig.json
  packages/backend-test/tsconfig.json
  packages/backend-touch/package.json
  packages/backend-touch/src/__tests__/OptionsReader.spec.ts
  packages/backend-touch/src/__tests__/TouchBackend.spec.ts
  packages/backend-touch/tsconfig.json
  packages/dnd-core/package.json
  packages/dnd-core/src/__tests__/DragDropManager.spec.ts
  packages/dnd-core/src/__tests__/DragDropMonitor.spec.ts
  packages/dnd-core/src/__tests__/DragSourceImpl.ts
  packages/dnd-core/src/__tests__/DropTargetImpl.ts
  packages/dnd-core/src/__tests__/sources.ts
  packages/dnd-core/src/__tests__/targets.ts
  packages/examples/package.json
  packages/examples/src/03-nesting/drag-sources/__tests__/dragSources.spec.tsx
  packages/react-dnd/package.json
  packages/react-dnd/src/core/__tests__/DragPreviewImage.spec.tsx
  packages/react-dnd/src/hooks/__tests__/useDrag.spec.tsx
  packages/react-dnd/src/hooks/__tests__/useDrop.spec.tsx
  packages/react-dnd/src/hooks/useDrag/__tests__/DragSourceImpl.spec.ts
  packages/react-dnd/src/hooks/useDrop/__tests__/DropTargetImpl.spec.ts
  packages/react-dnd/src/internals/__tests__/DragSourceMonitorImpl.spec.ts
  packages/react-dnd/src/internals/__tests__/DropTargetMonitorImpl.spec.ts
  packages/react-dnd/src/internals/__tests__/SourceConnector.spec.tsx
  packages/test-utils/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

test: eliminate duplication in the modules tests
  module_test/api.json
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
Due: prettier --write

chore: formatting
  module_test/cjs-imports.cjs
  module_test/mjs-imports.mjs
Due: none

test: remove duplication
  module_test/cjs-imports.cjs
  module_test/common.js
  module_test/mjs-imports.mjs
Due: prettier --write, eslint --fix

chore: semver
  .yarn/versions/dcc1933f.yml
  packages/test-suite-cra/package.json
Due: prettier --write

chore: disable eslint in cra-tester
  packages/test-suite-cra/.env
Due: none

Add Create-React-App Test Suite (#3374)
  .yarn/versions/dcc1933f.yml
  .yarnrc.yml
  packages/examples/package.json
  packages/examples/tsconfig.json
  packages/test-suite-cra/.env
  packages/test-suite-cra/.gitignore
  packages/test-suite-cra/README.md
  packages/test-suite-cra/package.json
  packages/test-suite-cra/public/favicon.ico
  packages/test-suite-cra/public/index.html
  packages/test-suite-cra/public/logo192.png
  packages/test-suite-cra/public/logo512.png
  packages/test-suite-cra/public/manifest.json
  packages/test-suite-cra/public/robots.txt
  packages/test-suite-cra/src/App.css
  packages/test-suite-cra/src/App.tsx
  packages/test-suite-cra/src/index.css
  packages/test-suite-cra/src/index.tsx
  packages/test-suite-cra/src/logo.svg
  packages/test-suite-cra/src/react-app-env.d.ts
  packages/test-suite-cra/src/reportWebVitals.ts
  packages/test-suite-cra/src/setupTests.ts
  packages/test-suite-cra/tsconfig.json
  scripts/esmify.mjs
  yarn.lock
Due: prettier --write, eslint --fix

ci: use Node 16 to deploy to docsite
  .github/workflows/docsite.yml
Due: none

ci: use Node 16 to deploy to docsite (#3375)
  .github/workflows/docsite.yml
Due: none

feat: add vite test suite pkg
  package.json
  packages/examples/package.json
  packages/test-suite-vite/.gitignore
  packages/test-suite-vite/index.html
  packages/test-suite-vite/package.json
  packages/test-suite-vite/src/App.css
  packages/test-suite-vite/src/App.tsx
  packages/test-suite-vite/src/favicon.svg
  packages/test-suite-vite/src/index.css
  packages/test-suite-vite/src/logo.svg
  packages/test-suite-vite/src/main.tsx
  packages/test-suite-vite/src/vite-env.d.ts
  packages/test-suite-vite/tsconfig.json
  packages/test-suite-vite/vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

build: re-plugin react
  package.json
  yarn.lock
Due: prettier --write

chore: semver
  .yarn/versions/fdad3aec.yml
  packages/test-suite-vite/package.json
Due: prettier --write

refactor: remove createElement import from DndProvider
  packages/react-dnd/src/core/DndProvider.tsx
Due: prettier --write, eslint --fix

feat: testUtils esm
  module_test/api.json
  module_test/common.js
  packages/test-utils/package.json
  packages/test-utils/src/eventSimulation.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/testingLibraryEvents.ts
Due: prettier --write, eslint --fix

chore: semver
  .yarn/versions/fdad3aec.yml
Due: none
